<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                color: #2b2b2b;
                font-family: 'Open Sans';
                background-color: #EBEBF5;
                padding: 50px;
                text-align: center;
                margin: 0;
                padding: 0;
            
            }
            .circle{
                width: 400px;
                height: 400px;
                background-color: #2b2b2b;
                border-radius: 50%;
                color: #f1f1f1;
                text-align: center;
                padding: 20px;
                margin: 0 auto;
                margin-top: 120px;
                
            }
            .button{
                padding: 13px;
                background-color: #FF7900;
                border-radius: 30px;
                color: #ffffff;
                padding-left: 25px;
                padding-right: 25px;
            }

            p{
               
                width: 300px;
                margin: 0 auto;
                margin-bottom: 50px;
            }

            h4{
                margin-top: 50px;
                font-weight: 300;
                margin-bottom: 0px;
            }

            h2{
                margin-top: 5px;
            }
            footer{
                height: 60px;
                margin-top: 50px;
                width: 100%;
                text-align: center;
                background-color: #2b2b2b;
                color: #ffffff;
                padding-top: 5px;
                padding-bottom: 5px;
                bottom:0;
                position: absolute;
                margin-top: 120px;
            }

            img{
                width: 450px;
                position: absolute;
                margin-top: -185px;
                margin-left: -60px;
                padding-bottom: 50px;
            }

            .logo img{
                width: 150px;
                margin-top: -80px;
                margin-left: auto 0;
            }

        </style>
    </head>
    <body>
        <div class="logo"><img src="logo2.jpg"/></div>
        <div class="circle">
            <h4>Hey {{username}}!</h4>
            <h2>Welcome to CodeQuest!</h2>
            <p>Are you ready to embark on the quest for code? Verify your account now!</p>

            <a class="button">Verify Account</a>
      </div>  
      <img src="img.png">

       
    </body>
    <footer>
        <h3>Your Journey Awaits.</h3>
    </footer>
</html>