.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-ueukts-MuiButtonBase-root-MuiToggleButton-root{
    background: none;
    outline: none !important;
    /* background-color: #2b2b2b; */
  }
  
  .MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    outline: none !important;
    border: none !important;
    border-radius: 60px;
    color: #2b2b2b;
    /* background-color: #2b2b2b; */
  }
  
  .MuiToggleButtonGroup-root.css-1gjgmky-MuiToggleButtonGroup-root{
    outline: #ffffff !important;
    border: none !important;
    /* background-color: #2b2b2b; */
  
  }

  .MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
    outline: none !important;
    border: none !important;
  }
  