.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-ueukts-MuiButtonBase-root-MuiToggleButton-root{
    background: none;
    outline: none !important;
    /* background-color: #2b2b2b; */
  }
  
  .MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    outline: none !important;
    border: none !important;
    border-radius: 60px;
    color: #2b2b2b;
    /* background-color: #2b2b2b; */
  }
  
  .MuiToggleButtonGroup-root.css-1gjgmky-MuiToggleButtonGroup-root{
    outline: #ffffff !important;
    border: none !important;
    /* background-color: #2b2b2b; */
  
  }

  .MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
    outline: none !important;
    border: none !important;
  }
  
  .answer-flag-button-red{
    color:rgb(203, 40, 40) !important;
    background-color: rgb(252, 218, 218);
    border-radius: 50px;
    height: 39px;
    width: 42px;
    padding: 8px;
justify-content: center;
    text-align: center;
}

code:empty{
  display: none;
  visibility: hidden;
  background: none;
}

pre:empty{
  display: none;
  visibility: hidden;
  background: none;
}

.code_text:empty{
  display: none;
  visibility: hidden;
  background: none;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.code-converted-text:empty{
  display: none;
  visibility: hidden;
  background: none;
}