.award-card-con {
    width: 250px;
    height: 320px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2rem;
    box-sizing: border-box;
    margin-right: 1rem;
    align-items: center;
    display: flex;
}

.award-content {
    text-align: center;
    margin: auto;
    width: 250px;
    height: auto;
}

.badge-img {
    margin: auto;
    width: 64px;
}

.award-card-con h4 {
    margin: 0.5rem;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.72);
    position: absolute;
    z-index: 99999;
    display: flex;
    align-items: center;
    text-align: center;
}

.modal-con {
    margin: auto;
    width: 400px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.close-con {
    float: right;
}

.award-modal-img {
    width: 80px;
    margin-top: 0.5rem;
}

.close-con {
    width: 100%;
    height: auto;
    text-align: right;
}