.footer {
    width: 100%;
    height: auto;
    background-color: #2B2B2B;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    z-index: 9999;
}

.footer-logo {
    width: 120px;
    margin-left: 45px;
}

.footer p {
    color: #FFFFFF;
}

.footer-icons {
    width: auto;
    height: 50px;
    display: flex;

}

.footer-icon-con {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.footer-icon-con:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.footer-icon {
    width: 22px;
    height: 22px;
    margin: auto;
}