.display_question,
.question p {
  color: #2b2b2b;
}
.display_question {
  padding: 10px;
  background-color: #ffffff;
  margin: 50px;
  margin-top: 80px;
  border-radius: 20px;
}
.qq_and_title {
  margin: 30px;
}
.title_show {
  display: flex;
  justify-content: space-between;
}
.question_image {
  text-align: center;
  margin: 30px;
}
.q_img {
  width: 100%;
  border-radius: 20px;
}
.question {
  padding: 10px;
  margin: 30px;
}
.code_text {
  margin: 30px;
  border-radius: 20px;
  height: 100px;
  background-color: #dff1fe;
  display: flex;
  padding-left: 15px;
}

.btn_answer_question {
  background: none;
  border-radius: 50px;
  padding: 20px;
  background-color: #ff7900;
  color: white;
  border: none;
  font-weight: bold;
  width: 220px;
}

.answer_question_btn {
  display: flex;

  justify-content: space-between;
  margin: 30px;
}

.title_show_answer {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.answer_description {
  margin: 30px;
}
.answer_description input {
  width: 98%;
  border-radius: 30px;
  border: none;
  padding: 10px;
  height: 30px;
}
.save_image {
  background-color: white;
  height: 200px;
  margin: 30px;
  border-radius: 20px;
  padding: 10px;
}

.icons_block {
  display: flex;
  align-items: center;
}

.btn_answered {
  background-color: #ff7900;
  color: white;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 10px;
  height: 30px;
  font-weight: 600;
  height: 55px;
}

.returnIcon {
  margin-left: 50px !important;
  margin-top: 30px;
  margin-bottom: -30px;
  cursor: pointer;
}

.questionTitle {
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}

.questionInfo {
  color: #6f6f6f !important;
}

.tags {
  display: flex;
}
.tags_block {
  width: 12%;
  height: 40px;
  border: 2px solid #00aaf0;
  border-radius: 20px;
  background-color: #e6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.tags_block p {
  color: #00aaf0 !important;
}

.DownVote {
  display: flex;
  padding-left: 15px;
}

.flagQuestion {
  margin-left: 25px;
}

.answer_question {
  box-shadow: 0px 0px 15px -6px rgb(0 0 0 / 59%);
  margin: 50px;
  border-radius: 20px;
  display: none;
}

.questionAns {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: -25px;
  font-weight: 500;
}

.infoIcon {
  width: 30px;
  margin-top: 25px;
}

.answer-btn {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backArrow {
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.dropdown_con {
  display: flex;
  margin-left: 31px;
  margin-right: 53px;
  justify-content: space-between;
}
.dropdowns {
  display: flex;
}

.pp_welcome_banner-img {
  background-image: url("../assets/questionpageimg.png");
  width: 40%;
  height: 100%;
  /* background-color: aquamarine; */
  position: relative;
  /* left: 50%; */
  float: right;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 70px;
}

.pp_welcome_banner1 h1,
.pp_welcome_banner1 p {
  color: white;
  text-align: left;
  float: left;
  margin-top: 0;
  width: 450px;
  margin-right: 100px;
}

.pp_welcome_banner1 {
  width: 50%;
  height: 80%;
  /* background-color: aqua; */
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
  /* padding: 10px; */
}

/*   */
.show_answered_con {
  padding-top: 9px;
  margin: 50px;
  background-color: #00aaf0;
  border-radius: 20px;
}
.show_answered_blue_con {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
.show_answer_text {
  margin: 30px;
}
.icons_block img {
  width: 10%;
}
