@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Karla:wght@300;400;500&family=Montserrat:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oxygen:wght@300;400;700&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

.Logo{
    float: left;
    width: 120px;
    padding: 20px;
    padding-left: 103px;
    margin-right: 50px;
    margin-top: 5px;
}

.logButton button{
    background-color: #2b2b2b;
    text-transform: lowercase;
    font-weight: 900;
}

.sideNav{
    width: 280px;
    height: 90vh;
   left:0;
   margin-left: 10px;
}

.profile-section{
    float: left;
    text-align: center;
    margin-left:75px;
    margin-top: 25px;
    
}
.profile-section h5{
    font-family: 'Open Sans';
    margin-top: 0px;
    font-weight: 300;
}

.profile-section h3{
    font-family: 'Open Sans';
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 22px;
  
}


.profileCircle{
   width: 80px;
   height: 80px;
   /* background-color: blue; */
   border-radius: 80px;
   overflow: hidden;
   /* margin-left: 36px; */
   margin: 0 auto;

}

.profileCircle img{
   width: 50px;
   margin-top: 15px;

}

.Navigation{
    margin-top: 20px;
    float: left;
    margin-left: 0px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

li{
   list-style: none; 
   margin-left: -10px;
}


li button{
    font-family: 'Open Sans';
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 17px;
    width: 100%;
    
 }
 a{
    padding: 12px;
    width: 100%;
    width: 300px;
    background: none;
 }

 .icon{
    padding-right: 30px;
    left: 0;
    margin-left: 60px;
    position: absolute;
 }

 .text{
    padding-left: 50px;
    text-align: left;
    margin-left: 50px;
 }


 .active{
    background-color: #F6F6FA;
    border-left: 7px solid #2b2b2b;
    padding-left: 5px;
 }

 /*Discord Block*/

 .discordBlock{
    background-color: #2b2b2b;
    color: #F6F6FA;
    padding: 20px;
    width: 170px;
    border-radius: 20px;
    height: 80px;
    float: left;
    margin-top: -130px;
    text-align: center;
    margin-left: 45px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
 }

 .discordBlock h6{
    margin:0;
    font-weight: 300;
 }

 .discordBlock h4{
    margin:0;
    margin-top:2px;
    margin-bottom: 5px;
    
 }

 .discordBlock button{
    margin:0;
    margin-top:10px;
    height: 28px;
    text-transform: capitalize;
    
    
 }

 .topNavBar button{
    text-transform: capitalize;


 }

 .MuiButtonBase-root .MuiButton-root .MuiButton-outlined .MuiButton-outlinedPrimary .MuiButton-sizeMedium .MuiButton-outlinedSizeMedium .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    border: none;
    outline: none;
    color: #2b2b2b;
 }