/* * p, h1, h2, h3{
    font-family: ;
} */

.pp_main_card {
    width: 75%;
    height: 58vh;
    /* height: 150vh; */
    background-color: #F1F1FC;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 12%;

    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);

    overflow-y: scroll;
    /* margin-bottom: 20vh; */
    padding-bottom: 10%;
}

.pp_main_card::-webkit-scrollbar {
    display: none;
}

.pp_welcome_con {
    width: 100%;
    height: 330px;
    background-color: #2b2b2b;
    position: relative;
    top: 0%;
    /* border-radius-top: ; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
}

.pp_welcome_banner {
    width: 60%;
    height: 80%;
    /* background-color: aqua; */
    position: absolute;
    top: 53%;
    left: 5%;
    transform: translateY(-50%);
    /* padding: 10px; */
}

.pp_welcome_banner h1, .pp_welcome_banner p{
    color: white;
    text-align: left;
}

.pp_welcome_banner_img {
    width: 40%;
    height: 100%;
    /* background-color: aquamarine; */
    position: relative;
    /* left: 50%; */
    float: right;
    background-image: url('../assets/profilePageAssets/PPImage.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.profileDetailsCircle {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.user-details-profile-pic {
    width: 200px;
    height: 200px;
    margin: auto;
}

.pp_rank_score_con {
    width: 90%;
    height: 250px;
    /* background-color: #2b2b2b; */
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}




/* Rank Styling */

.pp_rank_con {
    width: 65%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0%;
    background-color: #ffffff;

}

.pp_rank_con h2 {
    color: #2b2b2b;
    position: absolute;
    left: 10%;
    top: 5%;
}

.pp_rank_img_con {
    width: 100%;
    height: 50%;
    /* background-color: cadetblue; */
    position: absolute;
    /* left: 10%; */
    top: 35%;
}

.pp_rank {
    width: 20%;
    height: 100%;
    /* background-color: black; */
    float: left;
}

.pp_rank_img {
    width: 60%;
    height: 45%;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.pp_rank p {
    color: #2b2b2b;
    text-align: center;
    /* background-color: #2b2b2b; */
    position: relative;
    top: 15%;
    margin: 0%;
    padding: 0%;
    font-weight: bold;
}




/* Score Styling */

.pp_score_con {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 70%;
    background-color: #2b2b2b;
}

.pp_score_con p,
h2 {
    color: white;
    text-align: center;
    position: relative;
}



.pp_score_con h2 {
    top: -5%;
    font-weight: bold;
}

.pp_score_con_score {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.pp_score_con_score h1 {
    font-size: 36pt;
    color: #FF7900;
    padding: 0%;
    margin: 0%;
    /* background-color: black; */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.pp_score_con_score p {
    color: white;
    display: inline-block;
    /* background-color: black; */
    position: relative;
}








.pp_badge_card_slide {
    height: auto;
    width: auto;
    /* background-color: black; */
    position: relative;
    /* top: 80px; */
    left: 50%;
    transform: translateX(-50%);
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding-left: 0px;
    margin-left: -15px;
}

.pp_badge_card_slide::-webkit-scrollbar {
    display: none;
}


.pp_badges_con {
    width: 87%;
    height: 400px;
    /* background-color: aquamarine; */
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    /* padding: 10px; */
    padding-left: 30px;
    margin-top: -70px;
    margin-bottom: 35px;
}


.pp_badges_con h2 {
    color: #2b2b2b;
    width: auto;
    /* background-color: blue; */
    margin-bottom: 3%;
    text-align: left;
    padding-left: 3%;
    padding-top: 5%;
}

.pp_badge_card {
    width: 30%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    flex: 0 0 auto;
}

.pp_badge_card img{
    width: 30%;
    height: 30%;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0%;
}

.pp_badge_heading {
    color: #2b2b2b;
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
}

.pp_badge_desc {
    width: 60%;
    color: #2b2b2b;
    text-align: center;
    margin: 0 auto;
    /* margin-top: -20px; */
    /* justify-content: center; */
}




/* Activity Section  */

.pp_activity_con {
    width: 90%;
    height: auto;
    position: relative;
    top: 30%;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    /* background-color: #2b2b2b; */
}



.pp_questions_btn{
    display: inline-block;
    color: #2b2b2b;
    margin-right: 5px;
    text-align: center;
    /* background-color: gray; */
    width: 15%;
    height: 25px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50px;
}

.pp_questions_btn:hover {
    border-bottom: #2b2b2b solid 5px;
}

.pp_answers_btn{
    display: inline-block;
    color: #2b2b2b;
    margin-right: 5px;
    text-align: center;
    /* background-color: gray; */
    width: 15%;
    height: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pp_answers_btn:hover {
    border-bottom: #2b2b2b solid 5px;
}



/* Button Click, Check to see what is being displayed ( Answer or Question) */

.pp_question_active {
    border-bottom: #FF7900 solid 5px;
}



/* Question and Answers */

.pp_userInput_card_con {
    width: 100%;
    min-height: 220px;
    height: auto;
    /* background-color: black; */
    position: relative;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 20px;
}

.pp_userInput_card_con::-webkit-scrollbar {
    display: none;
}

.pp_UserInput_card {
    width: 90%;
    min-height: 250px;
    height: auto;
    /* background-color: white; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-bottom: 30px;

    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
}

.pp_profile_picture{
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 2%;
}

.pp_username{
    float: left;
    padding: 0;
    margin: 0;
    /* height: 5px; */
    position: absolute;
    top: 35px;
    left: 75px;
    font-size: 11pt;
    /* background-color: #FF7900; */
    color: #2b2b2b;
}

.pp_date{
    /* float: left; */
    padding: 0;
    margin: 0;
    position: absolute;
    top: 53px;
    left: 75px;
    font-size: 8pt;
    /* background-color: #FF7900; */
    color: #2b2b2b;
}

.pp_question_con{
    width: 95%;
    max-height: 80px;
    /* background-color: #FF7900; */
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: #b7b7b7 solid 1px;
}

.pp_question_con::-webkit-scrollbar {
    display: none;
}

.pp_question_con p{
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    color: #2b2b2b;
}

.pp_delete{
    padding: 0%;
    margin: 0%;
    height: 30px;
    width: 30px;
    position: absolute;
    /* background-color: #2b2b2b; */
    top: 13%;
    left: 92%;
    cursor: pointer;
}

.pp_up_Vote_img{
    padding: 0%;
    margin: 0%;
    height: 25px;
    width: 25px;
    position: absolute;
    /* background-color: #2b2b2b; */
    top: 80%;
    left: 3%;
}

.pp_up_Votes_text{
 color: #2b2b2b;
 padding: 0%;
 margin: 0%;
 position: absolute;
 /* background-color: #2b2b2b; */
 top: 81%;
 left: 7%;
 font-size: 14pt;
}

.pp_down_Vote_img{
    padding: 0%;
    margin: 0%;
    height: 25px;
    width: 25px;
    position: absolute;
    /* background-color: #2b2b2b; */
    top: 80%;
    left: 15%;
}

.pp_down_Votes_text{
    color: #2b2b2b;
    padding: 0%;
    margin: 0%;
    position: absolute;
    /* background-color: #2b2b2b; */
    top: 81%;
    left: 19%;
    font-size: 14pt;
}

.answers{
    color: #2b2b2b;
    padding: 0%;
    margin: 0%;
    position: absolute;
    /* background-color: #2b2b2b; */
    top: 81%;
    right: 3%;
    /* left: 19%; */
    float: right;
    font-size: 14pt; 
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #FF7900;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {

    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #FF7900;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected, .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: #2b2b2b;
}

.css-1gsv261 {
    border-bottom: 0px solid !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #FF7900;
}

.css-1aquho2-MuiTabs-indicator {

    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #FF7900;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #2b2b2b;
}

.css-1gsv261 {
    border-bottom: 0px solid !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.deleteQuestion{
    /* background-color: #FF7900; */
    position: relative;
    /* left: 55%; */
    top: 0%;
    cursor: pointer;
}

/* .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root{
    z-index: 2 !important;
    overflow: visible !important;
    width: 100%;
    position: absolute !important
}

.TabOne{
    z-index: 1;
    position: absolute;
} */