.question-con {
    margin-top: 8px;
    margin-bottom: 16px;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    /* box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.6); */
    display: block;
    padding: 1rem 2rem; 
    box-sizing: border-box;

}

.flag-button-red{
    color:rgb(203, 40, 40) !important;
    background-color: rgb(252, 218, 218);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 7px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.IndividualQCard .flag-button-red{
    margin-left: -450px;
  }
.question-con-content {
    width: 100%;
    height: auto;

}

.top-block {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
}

.user-info-block {
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.flag-button {
    width: 60px;
    height: 60px;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    color: #2b2b2b;
    cursor: pointer;
}

.profile-circle.question{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 50px;
    margin: 0;
    margin-right: 15px;
}
.profile-Img.question{
    width: 30px;
    margin-top: -10px;
    margin-left: 6px;
}

.question-con h4 {
    margin: 0 4px 0 0;
    color: #2b2b2b;
}

.question-con p {
    margin: 0;
    color: #4A4A4A;
}

.question-con h3 {
    margin: 16px 0;
    color: #000000;
    text-align: left;
}

.divider {
    width: 100%;
    height: 0.5px;
    margin-top: 32px;
    background-color: #4A4A4A;
    opacity: 0.4;
    cursor: pointer;
}

.bottom-block {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.upvote {
    width: 50px;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 0px;
}

.downvote {
    width: 50px;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 0px;
}

.flag {
    width: 50px;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 0px;
}


.vote-count {
    margin: 5px;
}

.flag-button:hover {
    border-radius: 50px;
    background-color: #EEEEEE;
}

.arrow-con {
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
}

.bottom-block small {
    color: #2b2b2b;
    /* margin: 0;
    padding: 0; */
    vertical-align: middle;
  
}

.user-question {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.upvote-con {
    margin-right: 16px;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
}

.MuiButtonBase-root.MuiToggleButton-root.Mui-selected.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    background: none;
    outline: none !important;
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    outline: none !important;
    border: none !important;
    border-radius: 60px;
    color: #2b2b2b;
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-ueukts-MuiButtonBase-root-MuiToggleButton-root:hover{
    border-radius: 50px;
    background-color: #EEEEEE;
    
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.css-d9c359-MuiButtonBase-root-MuiToggleButton-root:hover{
    cursor:auto;
    background-color: none;


}

.upvote.question-card-icon.question:hover{
    background: none !important;
    background-color: none;
}

