.admin {
    display: grid;
    background-color: #F1F1FC;
    border-radius: 20px;
    position: absolute;
    width: 1000px;
    height: 68vh;
    left: 25%;
    top: 12%;
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    overflow-y: scroll;
    padding-bottom: 10%;

    &__top__header {
        width: fit-content;
        height: 325px;
        background-color: #2b2b2b;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 40px;

        &__catimage,
        img {
            display: grid;
            margin-right: 100px;
            grid-gap: 32px;


        }

        &__heyboss {
            width: 70%;
            height: 80%;
            padding-left: 40px;
            color: #F1F1FC;
            display: grid;

            &__h1 {
                font-size: 50px;
                font-family: 'Open Sans';
            }

            &__p {
                color: #F1F1FC;
                font-size: 20px;
                font-family: 'Open Sans';
            }
        }
    }

    &__links {
        display: grid;
        text-decoration: none;

        &__link {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            font-family: 'Open Sans';
            padding: 8px;
            grid-gap: 8px;
            font-size: 17px;
            font-weight: 450;
            color: #2b2b2b;
        }


    }

    &__flagged__and__bad {
        display: grid;
        height: 400px;
        background-color: aqua;
        padding: 8px;
    }

}