.flagged {
    display: grid;
    background-color: #F1F1FC;
    border-radius: 20px;
    width: 700px;
    height: 28vh;
    justify-self: center;
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.59);
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.admin .css-13xfq8m-MuiTabPanel-root {
    padding: 0px !important;
    width: 94% !important;
    margin-left: 10px !important;
    margin-top: 4px !important;
    border-radius: 20px !important;
}

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation1,
.css-1ps6pg7-MuiPaper-root {
    border-radius: 20px !important;
}

.MuiTableContainer-root,
.css-1pbya23-MuiTableContainer-root {
    border-radius: 20px !important;
}