.fourohfour-container {
    width: 100%;
    // margin-top: -700px;
    padding: 40px;
    margin-left: 20px;
}

.fourohfour {
    width: 120%;
    height: 90vh;
    // background-color: #2b2b2b;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    top: 60%;
    left: 6%;
    margin: 0 auto;

    &__lottie{
        margin-left: 100px;
        margin-top: 50px;
    }

    &__coolcat {

        width: 70%;
        height: 130px;
        padding-left: 40px;
        grid-template-columns: 20% 20% 60%;
        color: #2b2b2b;
        margin-left: 100px;
        margin-top: 60px;

        &__h1 {
            font-family: 'Open Sans';
            text-align: left;
            width: 200px;
            color: #ffffff;
            font-size: 70px;
            display: grid;
            font-weight: 400;
        }
        &__h2 {
            font-family: 'Open Sans';
            text-align: left;
            width: 200px;
            color: #2b2b2b;
            font-size: 40px;
            display: grid;
            margin-top: -50px;
            
        }

        &__p {
            color: #2b2b2b;
            font-family: 'Open Sans';
            display: grid;
            width: 310px;
        }

        &__maincatimage img {
          
            margin-left: 150px;

        }
    }
}